.post-container {
    display: flex;
    width: 1136px;
    height: 950px; 
    margin: 20px auto;
    background: #fff;
    padding: 16px;
    gap: 10px;       
    box-sizing: border-box;
    align-items: center;
}

.post-image {
    width: 700px;
    height: 918px;
    background-color: #fafafa;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-details {
    width: 394px;
    height: 918px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.post-header {
    width: 374px;
    height: 50px;
    padding: 0 10px;
    gap: 12px;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    border-bottom: none;
}

.main-comment {
    display: flex;
    flex-direction: row; 
    width: 374px; 
    height: auto;
    gap: 12px; 
    align-items: flex-start;
    margin-bottom: 0px; 
}

.separator {
    width: 374px;       
    height: 1px;         
    background-color: #CCCCCC; 
    margin: 0 auto;      
    align-self: center;  
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px; 
    text-decoration: none;
    color: inherit;
    width: 100%;         
    height: 100%;
}

.user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid #CCCCCC;
}

.user-text {
    width: 312px;           
    height: 42px;         
    gap: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.username {
    font-family: 'Inter', sans-serif; 
    font-weight: 400;                
    font-size: 16px;                 
    line-height: 1;                  
    color: #000000;
}

.date {
    font-family: 'Inter', sans-serif; 
    font-weight: 400;                
    font-size: 12px;                 
    line-height: 1;          
    letter-spacing: 0;
    text-align: center;        
    color: #737373;
}

.comment-section::-webkit-scrollbar {
    display: none;
}

.comment-section {
    padding: 10px;
    height: 645px;
    width: 374px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.post-description strong {
    font-family: 'Inter', sans-serif;
    font-weight: 600; 
    font-size: 16px;
    line-height: 1;
    color: #000000;
}

.post-description a {
    text-decoration: none;
    color: inherit; 
}

.post-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #323232; 
    margin: 0;
    width: 312px;
    height: auto;  
    min-height: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 15px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 6px;
}

.placeholder-comments {
    color: #8e8e8e;
    margin-top: 10px;
}

.comment-item {
    width: 100%;
    height: auto;
    gap: 12px;
    flex-direction: row; 
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.post-actions{
    width: 374px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-content: space-around;
    gap: 12px;
    border-top: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.action-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.action-icon {
    color: #323232; 
    font-size: 20px; 
    position: relative;
    top: 1px;
    background: transparent;
}

.action-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.post-actions-bar {
    width: 374px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-top: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.comment-input-container {
    width: 374px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #FAFAFA; 
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.comment-input {
    width: 100%;
    border: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    resize: none;
    outline: none;
    color: #000;
}

.publish-button {
    width: 374px;
    height: 31px;        
    gap: 10px;   
    padding: 0 8px; 
    background-color: #495DF9; 
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.publish-button:hover {
    opacity: 0.8;
}