.header {
    display: flex;
    gap: 20px;
}
.user-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.header-top {
    display: flex;
    gap: 15px;
}

.header-stats {
    display: flex;
    gap: 15px;
}
